* {
    margin: 0;
    padding: 0;
}

main {

    margin: 0 auto;
    padding: 50px;
}

.v-toolbar{
    background: rgb(2,179,152)!important;
    background: linear-gradient(90deg, rgba(2,179,152,1) 0%, rgba(2,146,147,1) 100%)!important; 
    background-color: #029C94 !important;
    text-align: center !important;
    padding: 5px;
    color: white !important;
}

.cabecera{
    width: 400px;
    margin: auto;
    color: white;
}

.texto{
    width: 100%;
    padding: 100px !important;
    display: flex;
    justify-content: space-between;
}
button{
    border: 1px #029C94 !important;
    border-radius: 1rem;
}
.cuadro{
    width: 50%;
    color: #A1A3AE;
}

.products-list{
    background-color: #F9F9FA !important;
    width: 100%;
    padding: 50px;
}

#cuadro1{
    padding: 10px;
}

#titulos{
    margin-top:10%;
}

.v-btn{
    margin-left: 10px;
    color: #029C94 !important;
}

#botonPrincipal{
    background: rgb(2,179,152)!important;
    background: linear-gradient(90deg, rgba(2,179,152,1) 0%, rgba(2,146,147,1) 100%)!important; 
    background-color: #029C94 !important;
    color: white !important;
}